body {
    font-family: sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.topnav {
    position: fixed;
    background-color: #333;
    width: 100%;
    margin: 0;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #dc51ff;
    color: white;
}

.topnav .icon {
    display: none;
}

.column {
    float: right;
    width: 30%;
    margin: 16px;
    padding: 10 12px;
    overflow: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(145, 0, 0, 0.2);
    margin: 8px;
    padding-bottom: 12px;
}

#banner {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.title {
    color: rgb(143, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
